@import "../../common/colors.scss";

.movies-list-wrap {
  .head-title {
    color: $font-primary;
    margin: 10px 0;
    font-weight: 700;
  }
}

// .movies-list,
// .series-list {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
//   grid-gap: 15px;
// }

.show-container {
  margin: 40px 0;
}
